body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
.app-container {
    /*min-height: 100vh;*/
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.MuiAccordion-root::before {
    display: none;
}