body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
.app-container {
    min-height: 150vh;
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-repeat: repeat;
}
.MuiAccordion-root::before {
    display: none;
}

